extends layout
block content
  link(rel='stylesheet', href='../styles/sign-up.css')
  div.container
    div.login-container
      div.circle.cirle-one
        div.form-container
          img(src='https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png' alt='illustration' class='illustration')
          h1.opacity Sign Up
          form(method='POST')
            div.form-group
                input.form-control#first-name(type='text', autocomplete=true, placeholder='First Name',name='first_name' required)
            div.form-group
                input.form-control#last-name(type='text', autocomplete=true, placeholder='Last Name',name='last_name' required)
            div.form-group
                input.form-control#username(type='text', autocomplete=true, placeholder='Username',name='username' required)
            div.form-group
                input.form-control#password(type='password',placeholder='password' autocomplete=true,name='password' required)
            div.form-group
                input.form-control#confirm-password(type='password', placeholder='confirm password' autocomplete=true ,name='confirmPassword' required)
            button#sign-up-btn.btn.btn-submit(type='submit') Submit
          div.register-forget.opacity
            p Already a member? 
             a(href='/auth/login') Log In 

            

